.dashboard {

    .search-projects {
        height: 13%;
        padding: 0 1.5rem;

        input {
            padding: 0.25rem 1rem;
            font-size: 1.2rem;

            &:focus {
                outline-color: darkblue;
            }
        }
    }

    .projects-table {
        height: 70%;
        width: 100%;
    }

    .dashboard-project-card-link {
        width: 20%;
        height: 45%;
        margin: 2rem;
        text-decoration: none;
        color: blue;

        &:focus {
            outline-color: darkblue;
            color: darkblue;
        }

        &:hover {
            color: darkblue;
            outline: 2px solid darkblue;
        }
    }
}
