<div class="dashboard">
    <header class="dashboard__header">
        <h1>Projects</h1>
        <button sw-primary-button (click)="openCreateProjectModal()" >Create</button>
    </header>
    <ng-container *ngIf="(isLoading$ | async); else projectsData">
        <div class="dashboard__loader">
            <sw-loader size="lg"></sw-loader>
        </div>
    </ng-container>
    <ng-template #projectsData>
        <ng-container *ngIf="projects$ | async as projects">
            <ng-container *ngIf="projects.length > 0; else emptyProjects">
                <div class="dashboard__projects">
                    <ng-container *ngFor="let project of projects; trackBy: trackProject">
                        <api-assistant-dashboard-project-card [project]="project">
                        </api-assistant-dashboard-project-card>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #emptyProjects>
                <div class="dashboard__empty_template">
                    <span>No projects found</span>
                </div>
            </ng-template>
        </ng-container>
    </ng-template>
</div>
