.app-shell {
  width: 100%;
  height: 100%;
  display: flex;

  .app-shell__navigation {
    height: 100%;
    width: 5%;
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    border-bottom: 1px solid darkblue;

    a, button {
      cursor: pointer;
      font-size: 1rem;
      color: white;

      &:hover, &:active {
        background-color: inherit;
      }
    }

    .app-shell__user-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  .app-shell__routes {
    height: 100%;
    width: 95%;
    overflow: auto;
  }
}

.account-not-verified {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  > a:first-child {
    font-size: 3rem;
  }

  .account-not-verified__copy {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
      margin-top: 1rem;
    }
  }
}
