.app-shell {
  .app-shell__navigation {
    height: 10%;
    width: 100%;
    background-color: var(--sw-primary-color-800);
    color: white;

    a,
    button {
      cursor: pointer;
      color: white;
      text-decoration: none;

      &:hover,
      &:active {
        background-color: inherit;
      }
    }
  }

  .app-shell__routes {
    height: 90%;
    width: 100%;
    overflow: auto;
  }
}

.account-not-verified {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  > a:first-child {
    font-size: 3rem;
  }

  .account-not-verified__copy {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
      margin-top: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .app-shell {
    .app-shell__navigation {
      height: 7%;
    }

    .app-shell__routes {
      height: 93%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .app-shell {
    .app-shell__navigation {
      height: 7%;
    }

    .app-shell__routes {
      height: 93%;
    }
  }
}
