<main class="app-shell" *ngIf="isAccountVerified$ | async; else accountNotVerified">
  <nav class="app-shell__navigation">
    <a routerLink="/app/projects">
      <sw-icon size="lg" name="home"></sw-icon>
    </a>
    <div class="app-shell__user-options">
      <a>
        <sw-icon size="lg" name="person"></sw-icon>
      </a>
      <button (click)="handleLogout()" sw-icon-button size="sm">
        <sw-icon size="lg" name="logout"></sw-icon>
      </button>
    </div>
  </nav>
  <section class="app-shell__routes">
    <router-outlet></router-outlet>
  </section>
</main>

<ng-template #accountNotVerified>
  <div class="account-not-verified">
    <a routerLink="/">API Assistant</a>
    <div class="account-not-verified__copy">
      <h1>Account verification pending</h1>
      <h3>
        Verify your account by clicking on link sent to your registered email.
      </h3>
    </div>
    <h3>
      Login <a routerLink="/accounts/login">here</a> once account is verified
    </h3>
  </div>
</ng-template>