<main class="landing-page">
  <!-- landing page header -->
  <header class="landing-page__header">
    <a
      aria-label="see-how-it-works"
      class="attention-grabbing-link"
      routerLink="/how-it-works"
      >See How it works</a
    >

    <!-- Provide link to app and logout if user is logged in -->
    <ng-container *ngIf="isUserLoggedIn$ | async; else loginLinks">
      <a
        aria-label="go-to-app"
        data-testid="go-to-app-link"
        routerLink="/app/projects"
        >Go to app</a
      >
      <button sw-primary-button (click)="logoutAccount()" aria-label="logout">
        Logout
      </button>
    </ng-container>

    <!-- provide link to signup and signin if user is not logged in-->
    <ng-template #loginLinks>
      <a
        aria-label="signup"
        data-testid="signup-link"
        routerLink="/accounts/signup"
        >Signup</a
      >
      <a
        aria-label="login"
        data-testid="login-link"
        routerLink="/accounts/login"
        >Login</a
      >
    </ng-template>
  </header>
  <!-- End of header -->

  <!-- Banner content -->
  <div class="landing-page__banner">
    <h1 aria-label="app-name">{{ appName }}</h1>
    <h4 aria-label="app-caption">{{ appCaption }}</h4>
  </div>
  <!-- End of banner content -->

  <!-- Features card  -->
  <div class="landing-page__features">
    <h1>Features</h1>

    <!-- List of feature cards -->
    <ng-container
      *ngFor="let feature of landingPageFeatures; trackBy: trackFeatureCard"
    >
      <div class="landing-page__feature-card">
        <h3 aria-label="feature-name">{{ feature.title }}</h3>
        <span role="text" aria-label="feature-description">{{
          feature.description
        }}</span>
      </div>
    </ng-container>
  </div>
  <!-- End of features card -->

  <!-- Landing page footer -->
  <footer class="landing_page__footer">
    <!-- Nudge users to create application if loggedin -->
    <span *ngIf="isUserLoggedIn$ | async; else nudgeCreateAccount">
      Start building applications rapidly with
      <a aria-label="go-to-app-from-footer" routerLink="/app/projects">{{
        appName
      }}</a>
    </span>

    <!-- Nudge users to signup if not loggedin -->
    <ng-template #nudgeCreateAccount>
      <span>
        Want to build application with {{ appName }}?
        <a aria-label="signup-from-footer" routerLink="/accounts/signup"
          >Signup here</a
        >
      </span>
    </ng-template>
  </footer>
  <!-- end of footer -->
</main>
