<main class="landing-page">
  <!-- landing page header -->
  <header class="landing-page__header">
    <!-- Provide link to app and logout if user is logged in -->
    <ng-container *ngIf="isUserLoggedIn$ | async; else loginLinks">
      <a
        aria-label="go-to-app"
        data-testid="go-to-app-link"
        routerLink="/app/applications"
        >Go to app</a
      >
      <button sw-primary-button (click)="logoutAccount()" aria-label="logout">
        Logout
      </button>
    </ng-container>

    <!-- provide link to signup and signin if user is not logged in-->
    <ng-template #loginLinks>
      <a
        aria-label="signup"
        data-testid="signup-link"
        routerLink="/accounts/signup"
        >Signup</a
      >
      <a
        aria-label="login"
        data-testid="login-link"
        routerLink="/accounts/login"
        >Login</a
      >
    </ng-template>
  </header>
  <!-- End of header -->

  <!-- Banner content -->
  <div class="landing-page__banner">
    <h1 aria-label="app-name">{{ appName }}</h1>
    <h4 aria-label="app-caption">{{ appCaption }}</h4>
  </div>
  <!-- End of banner content -->

  <h4 class="brief-intro">"API Assistant is a backend-as-a-service platform that lets you build REST APIs at lightning speed, enabling you to consume them in any web or mobile app in the classic way, without the need for SDKs"</h4>

  <!-- Features card  -->
  <div class="landing-page__features">
    <h1>Features</h1>

    <!-- List of feature cards -->
     <div class="flex align-items-center flex-wrap column-gap-2 row-gap-2">

    <ng-container
      *ngFor="let feature of landingPageFeatures; trackBy: trackFeatureCard"
    >
      <div class="landing-page__feature-card">
        <sw-icon [name]="feature.icon"></sw-icon>
        <h3 aria-label="feature-name">{{ feature.title }}</h3>
        <span role="text" aria-label="feature-description">{{
          feature.description
        }}</span>
      </div>
    </ng-container>
  </div>
  </div>
  <!-- End of features card -->

  <!-- Landing page footer -->
  <footer class="landing_page__footer">
    <!-- Nudge users to create application if loggedin -->
    <span *ngIf="isUserLoggedIn$ | async; else nudgeCreateAccount">
      Start building applications rapidly with
      <a aria-label="go-to-app-from-footer" routerLink="/app/applications">{{
        appName
      }}</a>
    </span>

    <!-- Nudge users to signup if not loggedin -->
    <ng-template #nudgeCreateAccount>
      <span>
        Build application with {{ appName }} today
        <a aria-label="signup-from-footer" routerLink="/accounts/signup"
          >Signup here</a
        >
      </span>
    </ng-template>
  </footer>
  <!-- end of footer -->
</main>
