.landing-page {
    .landing-page-app-banner {
        height: 70vh;
        width: 100%;
        background-color: black;
        color: white;

        h1 {
            font-size: 5rem;
        }

        h3 {
            font-size: 3rem;
        }
    }
    .landing-page-feature-cards {
        display: flex;
        height: 60vh;
        flex-wrap: wrap;

        div {
            margin: 2rem;
        }
    }

    .landing-page-try-today-banner {
        height: 20vh;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}