<ng-container *ngIf="endpointsLoading$ | async; else dataTemplate">
  <div
    style="width: 100%; height: 100%"
    class="flex align-items-center justify-space-evenly"
  >
    <span>
      <sw-loader />
    </span>
  </div>
</ng-container>

<ng-template #dataTemplate>
  <ng-container *ngIf="endpointsFetchError$ | async as errorMsg; else listView">
    <div
      style="width: 100%; height: 100%"
      class="flex align-items-center justify-space-evenly"
    >
      <span class="sw-info-color-error">
        {{ errorMsg }}
      </span>
    </div>
  </ng-container>

  <ng-template #listView>
    <div class="endpoints-toolbar">
      <button (click)="handleAddEndpoint()" sw-primary-button>
        Add Endpoint
      </button>
    </div>
    <api-assistant-endpoints-list-view
      (endpointClicked)="handleEndpointDetailNavigation($event)"
      [endpointsMinimalInfo]="(allEndpoints$ | async) ?? []"
    />
  </ng-template>
</ng-template>
