.endpoints-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

sw-loader {
  --sw-loader-height: 40px;
  --sw-loader-width: 40px;
}
