.accounts-shell {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.accounts-shell__router {
	width: 100%;
	height: 100%;
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.account-routes-header {
	align-self: flex-start;
}

.router-outlet__content {
	width: 100%;
	height: 90%;
}

.accounts-shell__banner {
	display: none;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;

	h1 {
		font-size: 5rem;
		font-weight: 400;
	}

	h6 {
		font-size: 2rem;
		font-weight: 300;
	}
}

@media only screen and (min-width: 768px) {

	.router-outlet__content {
		width: 60%;
		height: 100%;
	}

}

@media only screen and (min-width: 1200px) {
	.accounts-shell__banner {
		display: flex;
	}

	.account-routes-header {
		display: none;
	}

	.router-outlet__content {
		width: 70%;
		height: 100%;
	}
}