.accounts-shell {

    .accounts-shell__header {
        height: 10%;

        .accounts-shell__header-appname {
            font-size: 2rem;
            text-decoration: none;
        }
    }

    .accounts-shell__banner-and-outlet {
        height: 90%;

        .accounts-shell__banner {
            width: 60%;
            height: 100%;
        }
        
        .accounts-shell__outlet {
            width: 40%;
            height: 100%;
        }
    }
}