.landing-page-header {
    height: 10vh;
    width: 100%;
    background-color: darkblue;
    color: white;

    .landing-page-header__links {
        height: 100%;

        a {
            font-size: 1.2rem;
            color: white !important;
            margin-right: 2.5rem;
        }
    }
}