.application-details {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
  }

  sw-tab-view {
    --sw-tab-view-width: 100%;
    --sw-tab-view-height: 95%;
    --sw-tab-view-title-height: 5% !important;
    --sw-tab-view-content-height: 95% !important;
    height: 90%;
  }

  .application-details__tab-title {
    display: flex;
    align-items: center;
    column-gap: 10px;

    span {
      display: none;
    }
  }

  .application-details__loader,
  .application-details__error-msg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    sw-loader {
      --sw-loader-height: 40px;
      --sw-loader-width: 40px;
    }

    &.application-details__error-msg {
      color: red;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .application-details {
    padding: 1%;
  }
}
