<main class="height-100 width-100 flex flex-column row-gap-2">
  <header
    class="flex align-items-center justify-space-between sw-secondary-bg-color-200 pd-x-3"
  >
    <h1 class="large-font font-weight-lighter">
      {{ applicationName$ | async }}
    </h1>
    <div
      class="flex align-items-center column-gap-2"
      *ngIf="cloudCodeStatus$ | async as cloudCodeStatus"
    >
      <p class="flex align-items-center column-gap-1">
        <sw-icon size="lg" name="dns" /> {{ cloudCodeStatus.status }}
      </p>
    </div>
  </header>

  <section class="app-details-outlet pd-x-3">
    <div
      *ngIf="loading$ | async; else applicationsDataView"
      class="flex align-items-center justify-space-evenly"
    >
      <sw-loader size="lg"></sw-loader>
    </div>
    <ng-template #applicationsDataView>
      <sw-side-panel-menu [menuItems]="sidepanelMenuItems">
        <router-outlet></router-outlet>
      </sw-side-panel-menu>
      <ng-template #errorMsg>
        <div class="application-details__error-msg">
          {{ loadingError$ | async }}
        </div>
      </ng-template>
    </ng-template>
  </section>
</main>
