<form [formGroup]="queryForm" class="flex align-items-flex-start column-gap-2">
  <sw-list-view
    style="flex-basis: 20%"
    [title]="'Collections'"
    [showAsHorizontalList]="false"
    [selectedItemId]="selectedCollectionName"
    [items]="(collectionNameListItems$ | async) ?? []"
    (selectItem)="handleCollectionChange($event)"
  />
  <div style="flex-grow: 1" class="flex flex-column row-gap-2">
    <commons-fe-json-input
      formControlName="payload"
      style="flex-grow: 1"
      [label]="'Query'"
    />
    <div class="flex align-items-center justify-space-between column-gap-2">
      <sw-list-view
        [selectedItemId]="actionControlValue"
        (selectItem)="handleActionChange($event)"
        [items]="actionListItems"
      />
      <button (click)="handleQueryExecute()" sw-primary-button>
        Execute query
      </button>
    </div>
    <api-assistant-db-results-viewer
      style="width: 100%"
      [results]="queryResult$ | async"
    />
  </div>
</form>
