<form
  style="
    height: 100%;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    width: 100%;
  "
  [formGroup]="queryForm"
>
  <api-assistant-db-collections-view
    [selectedCollectionName]="selectedCollectionName"
    [collectionNames]="(collectionNames$ | async) ?? []"
    (change)="handleCollectionChange($event)"
    style="flex-basis: 20%;"
  />
  <div
    style="
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: 100%;
    "
  >
    <div
      style="
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
        width: 100%;
      "
    >
      <select formControlName="operation">
        <option *ngFor="let action of options" [value]="action.value">
          {{ action.label }}
        </option>
      </select>
      <commons-fe-json-input
        formControlName="payload"
        style="flex-grow: 1"
        [label]="'Query'"
      />
      <button (click)="handleQueryExecute()" sw-primary-button>Execute</button>
    </div>
    <api-assistant-db-results-viewer
      style="width: 100%"
      [results]="queryResult$ | async"
    />
  </div>
</form>
