<div class="application-users">
    <commons-fe-search-input placeholder="Search users" />

    <sw-table
      [activeColumns]="columns"
      [customCellTemplate]="customCellTemplate"
      [rows]="rows"
    >
    </sw-table>
</div>


<ng-template
  #customCellTemplate
  let-row="row"
  let-column="column"
  let-value="value"
>
  <ng-container [ngSwitch]="column.fieldName">
    <ng-template [ngSwitchCase]="'lastLoggedOn'">
      <span>{{ value | date : 'MMM d, y' }}</span>
    </ng-template>
  </ng-container>
</ng-template>
