<div class="postman-like-container">
    <div class="left-panel">
      <div class="request-section">
        <select disabled>
            <option selected value="POST">POST</option>
          </select>
        <input disabled [value]="crudUrl" readonly type="text" placeholder="Enter URL">
        <button (click)="sendRequest()">Send</button>
      </div>
      <div class="additional-headers">
        <div class="header">
          <label>Content-Type:</label>
          <input disabled [readOnly]="true" type="text" readonly value="application/json">
        </div>
        <div class="header">
          <label>api-assist-auth:</label>
          <input disabled [readOnly]="true" type="text" readonly value="Bearer your_token_here">
        </div>
      </div>
      <div class="input-json-section">
        <json-editor
          [options]="editorOptions"
          (change)="handleChange($event)"     
        ></json-editor>
      </div>
    </div>
    
    <div class="right-panel">
      <div class="response-section">
        <h3>Response:</h3>
        <div class="response-data">
          <pre>{{ response }}</pre>
        </div>
      </div>
    </div>
  </div>
  