<div class="project-storage">
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>{{true ? 'folder': 'description'}}</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	<div class="project-storage__folder">
		<mat-icon>folder</mat-icon>
		<span>folder 1</span>
	</div>
	
	
</div>