<div class="signup">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="handleSignup()"
    class="signup__form"
  >
    <h2>Signup</h2>
    <!-- User name form control -->
    <sw-form-control [errorMessagesMap]="usernameErrorMessages" [control]="usernameControl" label="Username">
      <input sw-input formControlName="username" type="text" />
    </sw-form-control>

    <!-- Email id form control -->
    <sw-form-control [control]="emailIdControl" label="Email ID">
      <input sw-input formControlName="emailId" type="email" />
    </sw-form-control>

    <!-- Password form control -->
    <sw-form-control [control]="passwordControl" label="Password">
      <input sw-input formControlName="password" type="password" />
    </sw-form-control>

    <!-- Create account button -->
    <button
      [showLoader]="loading$ | async"
      [disabled]="signupForm.invalid"
      sw-primary-button
    >
      Create account
    </button>

    <div class="signup-form__api-error">{{ signupErrorMessage }}</div>

    <span
      >Already have an account?
      <a routerLink="/accounts/login">Login here</a></span
    >
  </form>
</div>
