<div class="forgot-password">
  <form
    [formGroup]="resetPasswordLinkForm"
    (ngSubmit)="handleSendPasswordResetLink()"
    class="forgot-password__form"
  >
    <h2>Reset password</h2>
    <sw-form-control
      [control]="sendResetPasswordLinkEmailIdControl"
      label="Registered Email ID"
    >
      <input formControlName="emailId" sw-input type="email" />
    </sw-form-control>

    <button
      [disabled]="resetPasswordLinkForm.invalid"
      [showLoader]="resetPasswordLinkInProgress$ | async"
      sw-primary-button
    >
      Send password reset link
    </button>

    <div class="password-reset__api-error">
      <ng-container
        *ngIf="isPasswordResetLinkSent$ | async; else passwordResetErrMsg"
      >
        Password reset link sent to email
      </ng-container>
      <ng-template #passwordResetErrMsg>
        {{ passwordResetErrorMessage$ | async }}
      </ng-template>
    </div>

    <span>
      <a routerLink="/accounts/login">Login</a>
      here after resetting password
    </span>
  </form>
</div>
