<div class="forgot-password">
  <api-assistant-alert-banner
    [text]="alertMessage$ | async"
  ></api-assistant-alert-banner>
  <form
    [formGroup]="resetPasswordLinkForm"
    (ngSubmit)="handleSendPasswordResetLink()"
    class="forgot-password__form"
  >
    <h2>Reset password</h2>
    <api-assistant-form-control [control]="sendResetPasswordLinkEmailIdControl">
      <input
        formControlName="emailId"
        sw-input
        type="email"
        placeholder="Registered Email ID"
      />
    </api-assistant-form-control>

    <button
      [disabled]="resetPasswordLinkForm.invalid"
      [showLoader]="resetPasswordLinkInProgress$ | async"
      sw-primary-button
    >
      Send password reset link
    </button>
  </form>
  <span><a routerLink="/accounts/login">Login</a></span>
</div>
