<ng-container *ngIf="isLoading$ | async; else endpointsForm">
  loading...
</ng-container>

<ng-template #endpointsForm>
  <ng-container *ngIf="!!(error$ | async); else editFormView">
    Error
  </ng-container>

  <ng-template #editFormView>
    <div class="edit-endpoints">
      <div class="edit-endpoints__toolbar">
        <button [routerLink]="['../..']" sw-text-button>Go back</button>
      </div>
      <div class="edit-endpoints__form">
        <api-assistant-endpoints-form
          (onSubmit)="handleSaveEndpoint($event.value)"
          [value]="endpointsFormValue$ | async"
          [loading]="(updateInProgress$ | async) ?? false"
          [requestHandlers]="(requestHandlers$ | async) ?? []"
          [inEditMode]="true"
        />
      </div>
    </div>
  </ng-template>
</ng-template>
