<div class="project">
  <div class="project__details">
    <h3 class="project__details-name">{{ project.name }}</h3>
    <div class="divider"></div>
    <div class="project__details-stats">
      <div class="project__details-stat">
        <span class="project__details-stat-label">Operations:</span>
        <span class="project__details-stat-value">{{ project.totalOperations }}</span>
      </div>
      <div class="project__details-stat">
        <span class="project__details-stat-label">Created Date:</span>
        <span class="project__details-stat-value">{{ project.createdOn | date: 'MMM d, y' }}</span>
      </div>
      <div class="project__details-stat">
        <span class="project__details-stat-label">Active Users:</span>
        <span class="project__details-stat-value">{{ project.activeUsers }}</span>
      </div>
    </div>
  </div>
  <a [routerLink]="['/app', 'projects', project.id]" class="project__link">View Details</a>
</div>
