<div class="dashboard-project-card">
	<h2>{{ project.name  }}</h2>

	<div class="dashboard-project-card__stats">

	  <!-- create actions -->
	  <div class="dashboard-project-card__stat_data">
	  	<sw-icon size="lg" name="upload"></sw-icon>
	  	<div>
		  	<b>{{ project.createOps }}</b>
		  	<p>Create</p>
	  	</div>
	  </div>

	  <!-- read actions -->
	  <div class="dashboard-project-card__stat_data">
	  	<sw-icon size="lg" name="download"></sw-icon>
	  	<div>
		  	<b>{{ project.createOps }}</b>
		  	<p>Read</p>
	  	</div>
	  </div>

	  <!-- edit actions -->
	  <div class="dashboard-project-card__stat_data">
	  	<sw-icon size="lg" name="edit"></sw-icon>
	  	<div>
		  	<b>{{ project.createOps }}</b>
		  	<p>Edit</p>
	  	</div>
	  </div>

	  <!-- delete actions -->
	  <div class="dashboard-project-card__stat_data">
	  	<sw-icon size="lg" name="delete"></sw-icon>
	  	<div>
		  	<b>{{ project.createOps }}</b>
		  	<p>Delete</p>
	  	</div>
	  </div>

	  <!-- aggregate actions -->
	  <div class="dashboard-project-card__stat_data">
	  	<sw-icon size="lg" name="join_inner"></sw-icon>
	  	<div>
		  	<b>{{ project.createOps }}</b>
		  	<p>Join</p>
	  	</div>
	  </div>

	  <!-- files -->
	  <div class="dashboard-project-card__stat_data">
	  	<sw-icon size="lg" name="upload_file"></sw-icon>
	  	<div>
		  	<b>{{ project.createOps }}</b>
		  	<p>Files</p>
	  	</div>
	  </div>
	</div>

	<button sw-bordered-icon-button size="sm">
	  	<sw-icon name="arrow_forward"></sw-icon>
	</button>
</div>