<main class="flex align-items-flex-start height-100 width-100">
  <aside class="width-20 height-100">
    <api-assistant-cloud-code-functions-list
      [files]="(requestHandlers$ | async) ?? []"
      [selectedFile]="selectedHandler"
      (fileSelected)="handleFileSelection($event)"
    />
  </aside>
  <section class="cloud-code-editor height-100 width-100">
    <ng-container *ngIf="selectedHandler; else selectFileUI">
      <api-assistant-cloud-code-editor [formControl]="handlerCodeControl" />
      <div
        class="flex align-items-center mg-right-2 mg-top-3 justify-flex-end column-gap-2"
      >
        <button (click)="closeEditor()" sw-bordered-button>Close editor</button>
        <button (click)="updateHandlerCode()" sw-primary-button>
          Deploy code
        </button>
      </div>
    </ng-container>
  </section>

  <ng-template #selectFileUI>
    <div
      class="height-100 width-100 flex flex-column align-items-center justify-center"
    >
      <sw-icon name="code" [size]="'lg'" />
      <p class="small-font">Select a cloud function to edit</p>
    </div>
  </ng-template>
</main>
