<sw-dialog [size]="dialogSize$ | async">
  <div class="create-project">
    <h3>New Project</h3>
    <div class="create-project__form">
      <sw-form-control [control]="projectNameControl" label="Project name">
          <input
          [formControl]="projectNameControl"
          sw-input
          type="text"
          size="md"
          placeholder="Project name"
        />
      </sw-form-control>
      
      <button
        [showLoader]="loading$ | async"
        (click)="onCreateProject()"
        sw-primary-button
      >
        Create Project
      </button>
    </div>
    <span>
      {{ errorMessage }}
    </span>
  </div>
</sw-dialog>
