<sw-dialog [size]="dialogSize$ | async">
  <div class="create-project">
    <h3>New Project</h3>
    <div class="create-project__form">
      <input
        [formControl]="projectNameControl"
        sw-input
        type="text"
        size="md"
        placeholder="Project name"
      />
      <button
        [showLoader]="isCreateProjectInProgress$ | async"
        (click)="onCreateProject()"
        sw-primary-button
      >
        Create Project
      </button>
    </div>
    <span *ngIf="projectCreationErrorMsg$ | async as projectCreationErrorMsg">
      {{ projectCreationErrorMsg }}
    </span>
  </div>
</sw-dialog>
