<section class="dashboard">

  <div class="dashboard-toolbar">
    <h1>All Applications</h1>


    <button sw-bordered-button (click)="handleClickCreateApplication()">
      Create Application
    </button>
  </div>

  <ng-container *ngIf="!!(error$ | async); else applicationsList">
    <span>{{ error$ | async }}</span>
  </ng-container>

  <ng-template #applicationsList>
    <api-assistant-applications-grid-view
      [isLoading]="(loading$ | async) ?? false"
      [rows]="(applicationRows$ | async) ?? []"
    />
  </ng-template>
</section>
