<section class="height-100 width-100 pd-x-3">

  <div class="flex align-items-center justify-space-between width-100 height-10">
    <h1>All Applications</h1>

    <button sw-bordered-button (click)="handleClickCreateApplication()">
      Create Application
    </button>
  </div>

  <div class="height-80">
    <ng-container *ngIf="!!(error$ | async); else applicationsList">
      <span>{{ error$ | async }}</span>
    </ng-container>
  
    <ng-template #applicationsList>
      <api-assistant-applications-list-view
        [isLoading]="(loading$ | async) ?? false"
        [applications]="(applicationRows$ | async) ?? []"
      />
    </ng-template>
  </div>
</section>
