.project-details {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	sw-tab-view {
		--sw-tab-view-width: 100%;
		--sw-tab-view-height: 100%;
	}

	.project-details__tab-title {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project-details__loader, .project-details__error-msg {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		height: 100%;

		sw-loader {
			--sw-loader-height: 40px;
			--sw-loader-width: 40px;
		}

		&.project-details__error-msg  {
			color: red;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.project-details {
		padding: 3%;
	}

}