.app-shell {
    width: 100%;
    height: 100%;
    display: flex;
    
    .app-shell__side-nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        background-color: darkblue;
        color: white;

        a {
            color: white;
        }

        .app-shell__side-nav-menus {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

    }

    .app-shell__outlet {
        flex-grow: 1;
    }
}