<div class="login">
  <api-assistant-alert-banner
    type="error"
    [text]="loginErrorMessage$ | async"
  ></api-assistant-alert-banner>
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="login__form">
    <h2>Login</h2>
    <sw-form-control [control]="emailIdControl" label="Email ID">
      <input formControlName="emailId" sw-input type="email" />
    </sw-form-control>
    <div class="login__forgot-password">
      <sw-form-control [control]="passwordControl" label="Password">
        <input formControlName="password" sw-input type="password" />
      </sw-form-control>
      <a routerLink="/accounts/forgot-password">Forgot password?</a>
    </div>
    <button
      [disabled]="loginForm.invalid"
      [showLoader]="isLoginInProgress$ | async"
      sw-primary-button
    >
      Login
    </button>
  </form>
  <span
    >New to API Assistant?
    <a routerLink="/accounts/signup">Signup here</a></span
  >
</div>
