<div class="project-home">
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Create</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Read</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Patch</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Delete</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Aggregate</span>
	</div>
	<div class="project-home__stat desktop-stat">
		<h2>100</h2>
		<span>Total Actions</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Collections</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Users</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Storage</span>
	</div>
	<div class="project-home__stat">
		<h2>100</h2>
		<span>Files</span>
	</div>
	<div class="project-home__stat">
		<h2>23 July, 2023</h2>
		<span>Created on</span>
	</div>
</div>