<div class="project-home">
	<h3>Database operations</h3>
	<div class="project-home__db-actions-container">
		<div class="project-home__db-actions-chart">
			<canvas *ngIf="lineChartData$ | async as chartData" baseChart
				[type]="'bar'"
				[data]="chartData"
				[options]="lineChartOptions"
			>
			</canvas>
		</div>
	</div>
	<hr>
	<!-- <div class="project-home__sections">
		<div class="project-home__section">
			<h3>Project Overview</h3>
			<div class="project-home__section-cards">
				<div class="project-home__section-card">
					<span>Accounts</span>
					<p>10 users</p>
				</div>
				<div class="project-home__section-card">
					<span>Storage</span>
					<p>10 GB</p>
				</div>
				<div class="project-home__section-card">
					<span>File uploads</span>
					<p>10 files</p>
				</div>
				<div class="project-home__section-card">
					<span>Database</span>
					<p>10 buckets</p>
				</div>
			</div>
		</div>
	</div> -->
  </div>
  