.edit-endpoints {
  display: flex;
  flex-direction: column;
  align-items: center;

  .edit-endpoints__toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-bottom: 2rem;
  }

  .edit-endpoints__form {
    width: 40%;
    margin-bottom: 2rem;
  }
}
