/* project-settings.component.scss */

.project-settings {
	.project-settings__container {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 20px;

	  .project-settings__card {
		width: 100%;
		background-color: #f9f9f9;
		border-radius: 8px;
		padding: 20px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

		h3 {
		  font-size: 20px;
		  margin-bottom: 20px;
		}
  
		p {
		  margin-bottom: 10px;
		}

		.api-key-section-buttons {
			display: flex;
			align-items: center;
			column-gap: 20px;
		}
	  }
	}
  }
  
  @media only screen and (min-width: 768px) {
	.project-settings {
		padding: 20px;
		.project-settings__container {
			.project-settings__card {
				width: calc(50% - 10px);
			}
		}
	}
  }
  
  @media only screen and (min-width: 1200px) {
	.project-settings {
		padding: 20px;
		.project-settings__container {
			.project-settings__card {
				width: calc(50% - 10px);
			}
		}
	}
  }